:root{
	--detail: var(--rainbow);
	--lighterBack: #c0c;
	--darkerBack: #609;
	--font: #0ff;
	--buttonBack: #426;
	--buttonFont: var(--rainbow);
	--buttonBorder:var(--rainbow);
	--buttonDisabled: #a0c;
}